In [1]:
import pandas as pd
import numpy as np

data = {
    'age': [22, np.nan, 28, 28, np.nan, 31],
    'salary': [55000, 65000, np.nan, 53000, 49000, np.nan],
    'city': ['New Delhi', 'Mumbai', np.nan, 'Indore', 'Vadodara', np.nan]
}

df = pd.DataFrame(data)

for mean_imputation in ['age', 'salary']:
    mean_value = df[mean_imputation].mean()
    df[mean_imputation] = df[mean_imputation].fillna(mean_value)

df['city'] = df['city'].fillna('Unknown')
print(df)

     age   salary       city
0  22.00  55000.0  New Delhi
1  27.25  65000.0     Mumbai
2  28.00  55500.0    Unknown
3  28.00  53000.0     Indore
4  27.25  49000.0   Vadodara
5  31.00  55500.0    Unknown