In [1]:
import pandas as pd
import numpy as np

data = {
    'age': [22, np.nan, 28, 28, np.nan, 31],
    'salary': [55000, 65000, np.nan, 53000, 49000, np.nan],
    'city': ['New Delhi', 'Mumbai', np.nan, 'Indore', 'Vadodara', np.nan]
}

df = pd.DataFrame(data)

for mode_imputation in ['age', 'salary']:
    mode_value = df[mode_imputation].mode()[0]
    df[mode_imputation] = df[mode_imputation].fillna(mode_value)

df['city'] = df['city'].fillna('Unknown')
print(df)

    age   salary       city
0  22.0  55000.0  New Delhi
1  28.0  65000.0     Mumbai
2  28.0  49000.0    Unknown
3  28.0  53000.0     Indore
4  28.0  49000.0   Vadodara
5  31.0  49000.0    Unknown